.RemoveButton {
    height: 25px;
    width: 25px;
    background-color: rgb(180, 66, 66);
    color: white;
    margin: 5px;
    border: none;
    border-radius: 15%;
    font-size: 0.8em;
}

.RemoveButton:hover {
    cursor: pointer;
}