.Selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 90%;
    margin: 0 auto;
}

.Button {
    width: 120px;
    height: 60px;
    background-color: rgb(126, 126, 126);
    margin: 10px;
    font-family: inherit;
    font-size: 1.2em;
    color: white;
    border-radius: 7px;
    border: none;
    /* box-shadow: 0 1px 4px black; */
    background-color: rgb(70, 137, 182);
}

.Button:hover {
    cursor: pointer;
    background-color: rgb(99, 160, 201);
}