.MealCard {
    width: 300px;
    border: thin solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(209, 179, 139);
    box-shadow: 0 1px 3px black;
    padding: 10px;
    display: table;
    text-align: center;
}

.Selected {
    background-color: rgb(93, 160, 93);
}

.MealCard ul {
    list-style: none;
    text-align: left;
}

.MealCard li p {
    margin: 5px;
}

.MealCard li {
    display: flex;
    align-items: center;
}

.Hidden {
    display: none;
}


.Title {
    background-color: inherit;
    padding: 0 20px 20px 20px;
}

.Add {
    margin: 0 auto;
    background-color: inherit;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5em;
    border: solid thin black
}

.Add:hover {
    background-color: rgb(173, 173, 173);
    cursor: pointer;
}

.MealCard input {
    display: block;
    margin: 10px auto;
}

.RMHolder {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.RMHolder button {
    padding: 12px;
    border-radius: 4px;
    border: none;
    width: 86px;
    color: white;
    font-family: inherit;
    font-size: 0.8em;
}

.RMHolder button:hover {
    cursor: pointer;
    opacity: .8;
}

.RemoveMeal {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 5px;
    border: thin solid black;
    font-size: 0.8em;
}

.RemoveMeal:hover {
    cursor: pointer;
}

.MealCard br {
    border: none;
    color: black;
}